/*HEADER*/
.logo{
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo div{
    height: 40px;
    width: 50px;
}

.logo div img{
    width: 100%;
    height: 100%;
}

.campo-titulo{
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-menu{
 
}

.menu-fechado{
    display: none;
}

.menu-header{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.menu-header li{
    list-style: none;
    font-size: 1.4em;
    margin-bottom: 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.menu-header li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    width: 100%;
}

.menu-header li a:hover{
    color: black;
}

.menu-header li a.ativo{
    color: black;
    font-weight: bold;
}

.btn-menu{
    font-size: 1.3em;
    text-align: right;
    cursor: pointer;
}

.btn-menu-aberto{
    background-color: rgb(240, 47, 47);
    padding: 5px 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}