body, html{
    width: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Roboto', sans-serif;
}

img{
   max-width: 100%; 
}

.btn-vermelho{
    background-color: rgb(250, 42, 42);
    color: white;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    width: auto;
    padding: 8px 30px;
}

.btn-vermelho:hover{
    color: white;
    text-decoration: underline;
}

/*Títulos*/
.titulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.titulo:hover, .titulo:visited{
    color: white;
}

.subtitulo{
    font-weight: 400;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
}

.txt-apresentacao{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 35px 0 30px 0;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}